<h3>
  <a href="#/analise/2009" ng-class="getClass('2009')" class="twenty10">2009</a> /
  <a href="#/analise/2010" ng-class="getClass('2010')" class="twenty11">2010</a> /
  <a href="#/analise/2011" ng-class="getClass('2011')" class="twenty13">2011</a>
</h3>

<header class="jumbotron subhead" id="overview">
  <h1 ng-show="ano">Informações relativas ao ano de {{ano}} </h1>
</header>

<div class="row">
  <div id="chart_div" class="span12"></div>
</div>

<div class="row">
  <div id="chart_idade" class="span6"></div>
  <div id="chart_genero" class="span6"></div>
</div>
