.estado { fill: #eeeeee; }
.muito-alto { fill: #003300; fill-opacity: 1; }
.alto { fill: #009933; fill-opacity: 1; }
.medio { fill: #33CC33; fill-opacity: 1; }
.baixo { fill: #66FF66;	fill-opacity: 1; }
.muito-baixo { fill: #CCFFCC; fill-opacity: 1; }

.legenda { display: block; }
.legenda .box {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
}
.legenda .text { }