<div class="page-header">
  <h1>{{empresa.razao_social}} <small>{{empresa.nome_fantasia}}</small></h1>
  <p>CNPJ: <strong>{{empresa.cnpj}}</strong></p>
  <p>CNAE: <strong>{{empresa.cnae_descricao}}</strong></p>
  <p>Grupo: <strong><a href="/#/grupos/{{empresa.group_id}}/{{ano}}">{{empresa.group_id}}</strong></a></p>
</div>

<h3>
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}/2009" ng-class="getClass('2009')">2009</a> /
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}/2010" ng-class="getClass('2010')">2010</a> /
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}/2011" ng-class="getClass('2011')">2011</a> /
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}" ng-class="getClass('Todos')">Todos</a>
</h3>

<header class="jumbotron subhead" id="overview">
  <h1 ng-show="ano">Informações referentes ao ano de {{ano}}</h1>
</header>

<div class="row-fluid">
  <div class="span6" id="chart_div"></div>
  <div class="span6" style="height: 460px" ng-show="!reclamacoes" id="spinner"></div>
  <div class="span6" id="chart_tipo_reclamacoes"></div>
</div>
