<ul class="breadcrumb">
  <li><a href="/#/">Home</a> <span class="divider">/</span></li>
  <li><a href="/#/grupos">Grupos</a> <span class="divider">/</span></li>
  <li><a href="/#/grupos/{{grupo.id}}">{{grupo.name}}</a> <span class="divider">/</span></li>
  <li class="active">{{empresa.razao_social}}</li>
</ul>

<div class="page-header">
  <p>Razão Social: <strong>{{empresa.razao_social}}</strong></p>
  <p>Nome Fantasia: <strong>{{empresa.nome_fantasia}}</strong></p>
  <p>CNPJ: <strong>{{empresa.cnpj}}</strong></p>
  <p>CNAE: <strong>{{empresa.cnae_descricao}}</strong></p>
</div>

<h2 ng-show="ano">Informações referentes ao ano {{ano}}</h2>
<h2 ng-show="!ano">Informações referentes ao período de 2009 à 2011</h2>

<p>
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}/2009" ng-class="getClass('2009')">2009</a> |
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}/2010" ng-class="getClass('2010')">2010</a> |
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}/2011" ng-class="getClass('2011')">2011</a> |
  <a ng-show="empresa" href="#/empresas/{{empresa.id}}" ng-class="getClass('Todos')">todos</a>
</p>

<div class="row-fluid">
  <div class="span6" id="chart_div"></div>
  <div class="span6" style="height: 460px" ng-show="!reclamacoes" id="spinner"></div>
  <div class="span6" id="chart_tipo_reclamacoes"></div>
</div>