<div class="page-header">
	<h1>{{empresa.razao_social}} <small>{{empresa.nome_fantasia}}</small></h1>
	<p>CNPJ: <strong>{{empresa.cnpj}}</strong></p>
	<p>CNAE: <strong>{{empresa.cnae_descricao}}</strong></p>
	<p>Grupo: <strong><a href="/#/grupos/{{empresa.group_id}}">{{empresa.group_id}}</strong></a></p>
</div>

<h3>
  <a href="#" class="twenty10">2009</a> /
  <a href="#" class="twenty11">2010</a> /
  <a href="#" class="twenty13 selected">2011</a>
</h3>

<div class="row-fluid">
  <div class="span6" id="chart_div"></div>
  <div class="span6" style="height: 460px" ng-show="!reclamacoes" id="spinner"></div>
  <div class="span6" id="chart_tipo_reclamacoes"></div>
</div>
