<div ng-controller="EmpresaListCtrl">
  <h1>Empresas</h1>

  <input type="text" ng-model="cnpj" class="input-large" id="cnpj" placeholder="CNPJ">
  <button class="btn btn-primary" ng-click="fetch()">Buscar</button>
  <br/>
  <img src="/img/loading.gif" ng-show="loading" style="height: 100px"/>

  <p>{{empresas.length}} empresas encontradas</p>
  <ul>
    <li ng-repeat="empresa in empresas" class="empresa">
      <a href="/empresas/{{empresa.cnpj}}">{{empresa.cnpj}} - {{get_name(empresa)}}</a>
      <p>{{empresa.cnae_descricao}}</p>
    </li>
  </ul>
</div>
